{% extends "layout.html" %}
{% block body %}

    <div class="text-center"  onclick="playsound_title()"><font size="7"><strong>cam_capture</strong></font></div>
    <br>
    <div><button type="button" class="btn btn-primary w-100 padding-bottom: 15 font-size:2rem" id="capture"  onclick="location.href='{{ url_for('capture') }}'"><font size="4"><img src="{{ url_for('static', filename='image/video.svg')}}" style="padding-right:20px">Capture&ensp;&ensp;</font></button></div>
    <div padding-top: 15>
    <select id="cam_list" name="cam_list" class="form-control" onchange="SetCamera();">
        {% for cam in cam_list %}
            <option value="{{cam}}" {{ 'selected' if current_camera == cam else '' }} >{{cam}}</option>
        {% endfor %}
    </select>
    </div>
    <br>
    <div><button type="button" class="btn btn-primary w-100 padding-bottom: 10 font-size:2rem" id="video"  onclick="location.href='{{ url_for('video') }}'"><font size="4"><img src="{{ url_for('static', filename='image/film.svg')}}" style="padding-right:20px">Video&ensp;&emsp;&ensp;</font></button></div>
    <br>
    <div><button type="button" class="btn btn-primary w-100 padding-bottom: 10 font-size:2rem" id="settings"  onclick="location.href='{{ url_for('settings') }}'"><font size="4"><img src="{{ url_for('static', filename='image/settings.svg')}}" style="padding-right:20px">Settings&ensp;&ensp;</font></button></div>

<script language="javascript" type="text/javascript">
    function SetCamera() {
        let element = document.getElementById('cam_list');
        let cam = element.value
        let request = new XMLHttpRequest();
        request.open('GET', "{{url_for('set_camera')}}?cam=" + encodeURIComponent(cam) , true);
        request.responseType = 'json';
        request.onload = function () {
            let data = this.response;
            if (data.result!='OK') {
                alert(data.result + '\n' + data.reason)
            }
        };
        request.onerror = function () {
            alert('ERROR: failed set camera.');
        }
        request.send();
    }
    function load() {
        SetCamera();
    }
    window.onload = load;
</script>
{% endblock %}
