{% extends "layout.html" %}
{% block body %}

<div class="border rounded w-100" style="padding:5px;">
    <div class="form-group">
        <form action="{{ url_for('video_trigger') }}" method=post name="video_trigger">
        <div class="row" style="padding:10px;">
            <div class="col-12" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                <label class="label">Captured videos :&ensp;</label>
                <select id="videos_file" name="videos_file" class="form-control" onclick="reload_preview_video();">
                    {% for videos_file in videos_files %}
                        <option value={{videos_file}}  {{ 'selected' if videos_file == selected_file else '' }}>{{videos_file}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row" style="padding:10px;padding-bottom:0px;">
            <div class="col-6" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                <button type="button" class="btn btn-primary w-100 h-100" id="button_start" onclick="video_download();">
                    <span>Download</span>
                </button>
            </div>
            <div class="col-6" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                <button type="submit" class="btn btn-primary w-100 h-100" name="trigger" value="remove" id="button_remove_video" onclick="return confirm_trigger('Remove encoded video ')">
                    <span>Remove</span>
                </button>
            </div>
        </div>
        </form>
    </div>
</div>
<img src="" id="preview" class="img-fluid mx-auto d-block">

<script language="javascript" type="text/javascript">
    function reload_preview_video() {
        const elem_video = document.getElementById("videos_file");
        const filename = elem_video.value;
        let elem_image = document.getElementById("preview");
        elem_image.src = "{{url_for('preview_video')}}" + "?filename=" + filename
    }
    function confirm_trigger(msg) {
        let result = window.confirm(msg + 'OK ?');
        return result;
    };
    function video_download() {
        const elm = document.getElementById("videos_file")
        const idx = elm.selectedIndex;
        const val = elm.options[idx].value;
        const link = document.createElement('a')
        link.download = val
        link.href = "{{url_for('video_download')}}" + "?filename="+ val
        link.click()
    };
    function load() {
        reload_preview_video();
    }
    window.onload = load;
</script>
{% endblock %}